node_modules/
public/images/0.png
public/images/1.png
public/images/2.png
public/images/clouds.png
public/images/finish.png
public/images/green.png
public/images/greenBlock.png
public/images/pink.png
public/images/star.png
public/images/violet.png
public/images/yellow.png
public/images/esc_to_continue.png
public/images/game_paused.png
public/images/press_space_to_start.png
public/images/space_to_restart.png
public/images/title.png
public/images/whoops.png
public/images/yay.png
