node_modules/
dist/images/0.png
dist/images/1.png
dist/images/2.png
dist/images/clouds.png
dist/images/finish.png
dist/images/green.png
dist/images/greenBlock.png
dist/images/pink.png
dist/images/star.png
dist/images/violet.png
dist/images/yellow.png
